.bigContainer {
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
    border: 1px solid #002323;
    border-radius: 25px;
    box-shadow: 1px 1px 10px #000;
    margin: 40px auto;
    max-width: 400px;
    color: white;
}

.container {
    max-width: 50%;
    border: 1px solid black;
    box-shadow: 1px 1px 10px grey;
    border-radius: 10px;
    padding: 40px;
    background: none;
    color: white;
}

.futureWeather {
    padding: 20px;
}

/* SEARCH ENGINE */

.form {
    text-align: right;
    margin: 10px auto;
    font-size: 11px;
    padding-top: 10px;
}

.enterCityName {
    border: none;
    border-bottom: 1px solid #fff;
    position: relative;
    margin-left: 5px;
    top: 6px;
    background: #b3c2dc;
    margin-bottom: 20px;
}

::placeholder {
    color: #fff;
}

.buttonSubmit {
    border: 1px solid #000;
    box-shadow: 1px 1px 10px #000;
    padding: 5px 7px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.currentDate {
    text-align: right;
    position: relative;
    right: 25px;
    font-size: 10px;
    color: white;
}

.searchLocation {
    border: 1px solid #000;
    box-shadow: 1px 1px 10px #000;
    padding: 5px 7px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

/* CURRENT WEATHER */
/* div.units {
    font-size: 12px;
    margin-right: 20px;
    display: block;
    text-align: right;
}

.celsius,
.farenheit {
    cursor: pointer;
} */
